<div class="character-list">
  @if (isLoading()) {
    <h2>Liste des personnages</h2>
    <app-loader/>
  } @else if (characters()) {
    <h2>Liste des personnages</h2>
    <div class="character-grid">
      @for (character of characters(); track character) {
        <app-character-details [characterDetails]="character"/>
      }
    </div>
    <div class="pagination">
      <button
        (click)="previousPage()"
        [disabled]="currentPage() === 1"
        class="pagination-button">
        Précédent
      </button>
      <span class="page-info">Page {{ currentPage() }} sur {{ totalPages() }}</span>
      <button
        (click)="nextPage()"
        [disabled]="currentPage() === totalPages()"
        class="pagination-button">
        Suivant
      </button>
    </div>
  } @else {
    <p>Pas de personnage</p>
  }
</div>
