@if (characterDetails) {
  <div class="character-card" [ngClass]="{'more-info-mode':moreInfo}"
       [routerLink]="['/personnages', characterDetails.id]"
       [ngStyle]="!moreInfo ? { 'cursor': 'pointer' } : {}">
    <img [ngSrc]="characterDetails.image" alt="{{ characterDetails.name }}" width="100" height="100"/>
    <h3 class="character-name">{{ characterDetails.name }}</h3>
    <div class="character-info">
      <span class="badge">{{ characterDetails.species }}</span>
      <span class="badge">{{ characterDetails.status }}</span>
      <span class="badge">{{ characterDetails.gender }}</span>
    </div>
    @if (moreInfo) {
      <hr/>
      <div class="character-more-info">
        <span class="badge">{{ characterDetails.location.name }}</span>
        <span class="badge">{{ characterDetails.origin.name }}</span>
      </div>
    }
  </div>
}
