<nav class="main-nav">
  <menu class="main-menu">
    <li class="main-menu-items">
      <a routerLink="/" class="main-menu-links">
        Accueil
      </a>
    </li>
    @if (isAuthenticated()) {
      <li class="main-menu-items">
        <a routerLink="/personnages" class="main-menu-links">
          Personnages
        </a>
      </li>
      <li class="main-menu-items">
        <a routerLink="/nasa" class="main-menu-links">
          Nasa
        </a>
      <li class="main-menu-items">
        <a (click)="logout()" class="main-menu-links">
          Se déconnecter
        </a>
      </li>
    } @else {
      <li class="main-menu-items">
        <a routerLink="/auth/login" class="main-menu-links">
          Se connecter
        </a>
      </li>
    }
  </menu>
</nav>
